/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
  line-height: 1rem;
  color: black;
  cursor: pointer;
  text-decoration: none;
}

body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

button {
  height: 4rem;
  background-color: black;
  color: white;
  flex-shrink: 1;
  border: none;
  border-radius: 2px;
  font-size: 1.2rem;
  width: 20rem;
}

div {
  display: block;
}

h1 {
  font-size: 3rem;
  line-height: 3rem;
  margin: 1rem;
  font-weight: bold;
}  

h2 {
  font-size: 1.4rem;
  line-height; 1.4rem;
  margin: 1rem;
  font-weight: bold;
}

h3 {
  margin: 1rem;
}

header {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 4rem;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  position: fixed;
}

footer {
  top: 4rem;
  position: relative;
  padding: 1rem 1.5rem;
  border-top: 1px solid #d8d8d8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

li {
  margin-left: 1rem;
}

main {
  position: relative;
  top: 4rem;
}

nav {
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-right: 1.5rem;
}

p {
  margin: 1rem;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 1rem;
  list-style: none;
}

video {
  width: 100%;
}

.thesis {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  margin-top: 1rem;
  
}

.thesis h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.thesis_content {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.thesis_content .left {
  padding-top: 0;
}

.thesis .left h2 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.thesis_content .others .articlex .pic {
  width: 35%;
}

.articles {
  display: flex;
  flex-direction: row;
}

.articlex {
  width: 100%;
}

.articlex .description {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.articlex .description h2 {
  margin: 0.5rem;
}

.articlex .description p {
  margin: 0.5rem;
}

.articlex .description a {
  margin: 0.5rem;
  color: lightblue;
}

.articlex .pic {
  padding: 1rem; 
}

.articles .others .articlex {
  display: flex;
  flex-direction: row;
}

.articles .left .pic img {
  padding-bottom: 1rem;
}

.bold {
  font-weight: bold;
}

.courses {
  display: flex;
  flex-direction: column;
}

.courses h1{
  padding-bottom: 2rem;
  text-align: center;
}

.cover {
  background-color: #d8d8d8;
  width: 100%;
  display: flex;
}

.cover .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dark {
  background-color: gray;
}

.light {
  font-weight: lighter;
}

.links a {
  padding-left: 1rem;
  font-size: 1rem;
}

.pic img {
  width: 100%;
}





/* Desktop */

@media only screen and (min-width: 801px) {
  .mobile {
    display: none;
  }

  .left {
    width: 60%;
    padding: 2rem 1.5rem;
    flex-grow: 1;
    flex-shrink: 1;
  }

  .right {
    width: 40%;
    flex-grow: 1;
    flex-shrink: 1;
  }

  #logo {
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin: 0 1.5rem;
  }


  /* Articles */

  .articles .others {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  /* Courses */

  .courses {
    background-color: #d8d8d8;
    padding: 2rem 3.5rem;
  }

  .courses .course {
    background-color: white;
    width: 30%;
    margin: 0 1rem;
    margin-bottom: 2rem;
  }

  .courses .coursebox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
}
/* Mobile */

@media only screen and (max-width: 800px) {
  .desktop {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 0 1.5rem;
    justify-content: space-between;
  }

  button {
    width: 100%;
    background-color: grey;
  }

  .cover {
    flex-direction: column;
    padding-bottom: 2rem;
  }

  .cover .description {
    padding: 0 1rem;
  }

  .cover .pic {
    width: 100%;
  }

  .cover .pic img {
    width: 100%;
}

  /* Articles */

  .articles .featured {
    display: none;
  }

  .articles .others {
    padding: 1rem 1rem 2rem 1rem;
    width: 100%;
  }

  /* Courses */

  .courses {
    margin-bottom: 1.5rem;
  }

  .courses .course {
    background-color: #d8d8d8;
    padding: 1rem 1rem 1.5rem 1rem;
    margin: 0 1rem 0.5rem 1rem;
  }

  .courses .coursebox {
    display: flex;
    flex-direction: column;
  }

  .courses .pic {
    display: none;
  }

  .course .description h3,
  .course .description p {
    display: none;
  }

  /* Thesis */

  .thesis .description {
    display: none;
  }

  .thesis .right {
    display: none;
  }

  /* footer */

  footer {
    align-items: center;
  }

  footer .links {
    display: none;
  }